@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded"),
    url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
    url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: blue;
  color: white;
  font-size: 50px;
  font-family: 'open_sansregular';
  margin: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

button {
  background-color: lightblue;
  color: black;
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 30px;
  font-size: 20px;

}

@import './postcss.css'